/*header*/
.header {
  font-size: 14px;
  font-weight: 500;
}
.list-header {
  list-style: none;
}
.item-header:hover,
:focus {
  color: #2196f3;
}
.link-header {
  text-decoration: none;
  color: #212121;
}
.link-header:hover,
:focus {
  color: #2196f3;
}

.nav-list {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #212121;
}
.nav-link:hover,
:focus {
  color: #2196f3;
}
/*section 1*/
.hero {
  background-color: #2f303a;
}

.hero-tittle {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
}
.hero-button {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover,:focus,:active{color:#212121;cursor: pointer;}

/*list x4*/

/*section 2 images 3x*/

/*out team section 3*/

/*footer*/
